
#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "HostPoint_FileFilter Filter Driver"
#define VER_INTERNALNAME_STR        "HostPoint_FileFilter.sys"